.btn-blue {
  background-color: #41AFF2;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; 
  
  display: inline-block; 
  text-decoration: none;
}