.cards {
  background-color: #0A4C73; 
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;     
  justify-content: center; 
  gap: 30px;        
  padding: 20px 0;
}

.card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  
 
  flex: 0 0 45%; 
  min-width: 400px; 
}

.card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 20px;
}

.card h3 {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
